.body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.App {
  width: 400px;
  margin: 10px;
  padding: 30px;
  display: flex;
  background-color: #898888;
  border-radius: 20px;
}
ul {
  padding: 0;
}

input {
  margin-right: 15px;
}
li {
  list-style: none;
  display: flex;
  margin: 10px 10px 10px 0;
}
.error {
  border: red 1px solid;
}
.error-message {
  color: red;
}
.active-filter {
  background-color: rgb(170, 214, 255);
}
.is-done {
  opacity: 0.5;
}
.filter-button {
  display: flex;
  flex: auto;
}
